:root {
    --left-width: 250px;
    --middle-share: 0.55;
}

html, body {
    margin:0;
    padding:0;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

#headLine {
    width: 100%;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    background-color: rgb(74, 80, 207);
    color: white;
    padding-left: 15px;
    position:fixed;
    top: 0;
    left: 0;
}

.barHeadLine {
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 3px;
}
#leftSide {
    margin-top: 90px;
    width: var(--left-width);
    float:left;
    color: black;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
}


#mvpfChartDiv {
    padding-top: 100px;
    float: left;
    width: calc((100vw - var(--left-width)) * var(--middle-share));
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

#barChartDiv {
    float: left;
    height: 12vh;
    padding-top: 50px;
    position: relative;
    width: calc((100vw - var(--left-width)) * (1 - var(--middle-share)));
}

#mvpfChart {
    width: 100%;
    height: 100%;
}

.singleProgramDiv {
    width: inherit;
    height: inherit;
    padding-left: 50px;
    padding-right: 50px;
}
.plotSettingsBox {
    margin-bottom: 10px;
}

.chartHeadline {
    padding-top: 0px;
}

.barPlotElement {
    margin-top: 20px;
    width : inherit;
    height : inherit;
    margin-bottom: 20px;
}

.programHeadLine {
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 3px;
}

.programDescription {
    padding-top: 1px;
    padding-bottom: 1px;
}
#allProgram{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1400px) {
    #mvpfChartDiv {
     float: left;
     width: calc((100vw - var(--left-width)) - 50px);
     padding-top: 100px;
     height: 100%;
     padding-left: 50px;
     padding-right: 50px;  
   }
   #barChartDiv {
       float: left;
       width: 100%;
       height: 12vh;
       padding-top: 50px;
   }
}
 
 @media screen and (max-width: 800px) {
   #leftSide { 
    float: none;
    width:auto;
    margin-top: 90px;
    color: black;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
  }
  #mvpfChartDiv {
    float: none;
    width: auto;
    padding-top: 100px;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
 }
